# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore the files directory.
sites/*/files/

# Ignore the private files directory.
sites/*/private/

# Ignore temporary files and directories.
*.swp
*.bak
*.tmp
*.log
*.zip
*.sql
*.gz

# Ignore contributed modules and themes (if they are managed separately).
/web/contrib/
/web/modules/contrib/
/web/themes/contrib/

# Ignore local development environment files.
.settings.local.php
*.local.settings.php
