<p><a href="/subscribe-now"><strong>Subscribe Now</strong></a></p>
<p>Sign up for email alerts</p>
<div>
    <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email">
</div>
<div>
    <input type="submit" value="Signup" name="subscribe" id="mc-embedded-subscribe">
</div>
{# {{ content }} #}
{{dump(content)}}footercontent
<div>
    <section>
    <p>© 2023 International Ophthalmology Portal. <a href="https://www.dotsquares.com/lp/drupal" target="_blank"><img
            src="https://www.dotsquares.com/img/uploads/dotlo-1-1.png" width="80"></a></p>
    </section>
</div>
